# Dependency folders
**/node_modules/
**/.next/
**/target/
**/*.class

# System folders
.DS_Store
**/.DS_Store
.idea/
.vscode/

# Exclude Figma designs and docs folders
stitch_midnight_finance/
docs/
.github/
